@page
@model Project_1.Pages.Connection.Enrollments.EnrollmentsPages
@using Project_1.Pages.Extensions

@{
    Layout = "_Create";
}
<body>
   @* @Html.EditorForInput(m => m.Item.ID)*@
    <partial name="_CreateEditEnrollment" />
</body>