@page
@model Project_1.Pages.Party.LecturersPages
@using Project_1.Pages.Extensions


@{
    Layout = "_Create";
}
<body>
   @* @Html.EditorForInput(m => m.Item.ID)*@
    <partial name="_CreateEditLecturer" />
</body>