@page
@model Project_1.Pages.Party.Courses.MyCoursesPages
@using Project_1.Pages.Extensions

@{
    Layout = "_Index";
    ViewData["Title"] ="My courses";
}

<body>
    <partial name="_Tabs" />
    <div class="tab-content">
      <div class="tab-pane fade show active">
        @Html.ShowTable(Model.Items)
      </div>
    </div>
</body>
