@page
@model Project_1.Pages.Party.StudyProgramsPages
@using Project_1.Pages.Extensions

@{
    Layout = "_Create";
}
<body>
  @*  @Html.EditorForInput(m => m.Item.ID)*@
    <partial name="_CreateEditStudyProgram" />
</body>
