@page
@model Project_1.Pages.Party.StudentsPages

@{
    Layout = "_Edit";
}
<body>
    <input type="hidden" asp-for="Item.ID"/>
    <input type="hidden" asp-for="Item.Token" />
    <partial name="_CreateEditStudent"/>
</body>